/*html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}*/
body {
	margin: 0;
}
h3 {
	color: white;
}
.footer {
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
}

.footer p {
	color: white;
}

a {
	color: #29f1ff;
	text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    min-width: 800px;
}

.container h1 {
    color: white;
}
.btn-cta {
	background-color: transparent;
    border: 4px solid #29f1ff;
    display: inline-block;
    cursor: pointer;
    color: #29f1ff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 16px 31px;
    transition: all .5s ease;
    width: 300px;
}
/*.fb-share-button {
    background-color: transparent;
    border: 4px solid #29f1ff;
    display: inline-block;
    cursor: pointer;
    color: #29f1ff;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 16px 31px;
    transition: all .5s ease;
    width: 300px;
}*/

.btn-cta a {
    color: #29f1ff;
    font-size: 17px;
    text-decoration: none;
    transition: all .5s ease;
}

.btn-cta:hover {
    background-color: #29f1ff;
}

.btn-cta:hover a {
    color: white;
}

.btn-cta:active {
    position: relative;
    top: 1px;
}

.btn-cta a:visited {
    /*background-color:transparent;*/
    /*color:#29f1ff;*/
    text-decoration: none;
}


/** Default content **/

#year {
    border: none;
    font-size: 130px;
    width: 400px;
    text-align: center;
    background: transparent;
    color: white;
    letter-spacing: 10px;
    /*margin-bottom: 30px;*/
}

#year::-webkit-input-placeholder {
	color: #fff;
	opacity: .2;
}

#year::-moz-placeholder {
	color: #ff00ff;
	opacity: .3;
}
#year::-moz-placeholder {
	color: #9900ff;
	opacity: .3;
}
#year::-ms-input-placeholder  {
	color: #9900ff;
	opacity: .3;
}	

#year:focus {
    outline: none;
}

#year:focus ~ .blinking-cursor {
    visibility: hidden;
}


/** TABBED CONTENT **/

.tabs {
    position: relative;
    min-height: 200px;
    /* This part sucks */
    clear: both;
    margin: 25px 0;
    width: 100%;
    text-align: center;
    transition: all .5s ease;
}

.tab {
    width: 12.5%;
    float: left;
    transition: all .5s ease;
}

.tab label {
    width: 100%;
    background: transparent;
    padding: 10px;
    /*border: 1px solid #ccc; */
    margin-left: -1px;
    position: relative;
    left: 1px;
    color: #29f1ff;
    font-size: 18px;
    transition: all .5s ease;
}

.tab label:hover {
    cursor: pointer;
    background: #29f1ff;
    color: white;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    /*width: 1000%;*/
    top: 20%;
    left: 0;
    background: transparent;
    right: 0;
    /*bottom: 0;*/
    height: 80vh;
    padding-top: 20vh;
    color: white;
    display: none;
}

.content h1 {
	font-size: 90px;
	margin: 30px 0;
}

.content h2 {
	font-size: 45px;
	margin-bottom: 2em;
}

.content p {
	font-size: 22px;
	width: 500px;
	margin: 0 auto;
}

[type=radio]:checked ~ label {
    background: transparent;
    border: 4px solid #29f1ff;
    /*border-bottom: 1px solid white;*/
    z-index: 2;
    font-size: 26px;
}

[type=radio]:checked ~ label:hover {
    background: transparent;
    border: 4px solid #29f1ff;
    /*border-bottom: 1px solid white;*/
    z-index: 2;
    font-size: 26px;
    color: #29f1ff;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
    display: block;
}

.input-row {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

svg {
	position: relative;
	top: 20px;
	max-width: 100px;
}

svg:hover {
	cursor: pointer;
}

svg:hover #svg_1,
svg:hover #svg_3 {
	fill: #ffffff;
}

.side-arrow {
	width: 100px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -90px;
	display: none;
}

.buttons {
	position: absolute;
	bottom: 120px;
	display: none;
	z-index: 100;
	text-align: center;
	width: 100%;
	left: 0;
}

#buy {
	display: none;
	margin-left: 30px;
}

i {
	position: relative;
	/*font-size: 25px;*/
	top: 3px;
	left: -10px;
}

/** VIDEO BACKGROUND **/

.video-overlay {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #9900ff;
    opacity: .6;
    z-index: -50;
}

* {
    box-sizing: border-box;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#vidtop-content {
    top: 0;
    color: #fff;
}

.vid-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif;
}

.vid-info h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2;
}

.vid-info a {
    display: block;
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    transition: .6s background;
    border-bottom: none;
    margin: 1rem auto;
    text-align: center;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

@media all and (max-width: 600px) {
    .vid-info {
        width: 50%;
        padding: .5rem;
    }
    .vid-info h1 {
        margin-bottom: .2rem;
    }
}

@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }
}

.blinking-cursor {
    position: relative;
    bottom: 15px;
    left: -410px;
    font-weight: 100;
    font-size: 130px;
    color: #fff;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    from,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/************/
/** MOBILE **/
/************/
@media all and (max-width: 800px) {
	#tab-1,
	#tab-1 ~ label,
	#tab-2,
	#tab-2 ~ label {
		display: none;
	}

	.tab {
		width: 16.6%;
	}

	.container {
		min-width: 0;
		width: 90%;
		margin: 0 auto;
	}

	#year {
		font-size: 60px;
		width: 200px;
	}

	.blinking-cursor {
		left: -230px;
		font-size: 70px;
	}

	.input-row svg {
		max-width: 70px;
	}

	.content h1 {
		font-size: 50px;
	}

	.content h2 {
		font-size: 35px;
	}

	.content p {
		width: 90%;
	}

	.side-arrow {
		width: 40px;
	}

	.buttons div {
		width: 40%;
		min-width: 150px;
	}

	.buttons #buy {
		margin-left: 10px;
	}
}