<!DOCTYPE html>
<html>

<head>
    <title>Toy Time Machine</title>
    <meta property="og:url" content="http://www.toytimemachine.us/toybox" />
    <meta property="og:title" content="My Toy Time Machine" />
    <meta property="og:description" content="Go back in time to find the toys that changed your life" />
    <meta property="og:image" content="http://toytimemachine.us/images/sharenew.png" />

    <link href="css/sweetalert.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/sweetalert.min.js"></script>
</head>

<body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Load Facebook SDK for JavaScript -->
    <!--  -->
    <div class="hamburger" id="white"></div>
    <div class="hamburger" id="black"></div>
    <div class="left">
        <div class="cover"></div>
        <div class="top">
            <!--<h1>Toy Time Machine</h1>-->
            <img class="logo-img" src="images/logoToy.png">
            <div id="logo">
                <a class="logo-link" href="https://www.playpiper.com" target="_blank"><span>Created By <img src="images/logo.svg">
                </span>
                </a>
            </div>
            <hr>
        </div>
        <div class="middle">
            <h3>My Toy Collection</h3>
            <div class="myToyImage" id="myToy1">
                <div class="deleteOverlay">
                    <!-- <span class="deleteText">Remove Toy</span> -->
                </div>
            </div>
            <div class="myToyImage" id="myToy2">
                <div class="deleteOverlay">
                    <!-- <span class="deleteText">Remove Toy</span> -->
                </div>
            </div>
            <div class="myToyImage" id="myToy3">
                <div class="deleteOverlay">
                    <!-- <span class="deleteText">Remove Toy</span> -->
                </div>
            </div>
            <div class="myToyImage" id="myToy4">
                <div class="deleteOverlay">
                    <!-- <span class="deleteText">Remove Toy</span> -->
                </div>
            </div>
        </div>
        <div class="bottom">
            <hr>

            <div class="bottomInner">
                <h3>SHARE</h3>
                <div class="fb-share-button" data-href="http://www.toytimemachine.us/toybox" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore fbshare" target="_blank" href=""><img src="images/share button.png"></a></div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="topBar">
            <div class="infoBox">
                <h4>1. Scroll through the decades</h4>
                <h4>2. Add 4 toys that changed your life to your toy box</h4>
                <h4>3. Share your collection  with your loved ones</h4>
            </div>
            <div class="yearStuff">
                <h2 id="yearIndicator"></h2>
                <input type="range" id="yearSelection" min="1940" max="2000" value="1940" step=10>
            </div>
        </div>
        <div id="toys"></div>
        <div id="loading"><img src="images/loading.gif"></div>
        <!-- <input type="button" onclick="createUser()"> -->
    </div>
    <script src="js/index.js"></script>
</body>

</html>
