<!DOCTYPE html>
<html>

<head>
    <title>TOYBOX</title>
    <meta property="og:url" content="http://www.toytimemachine.us/toybox" />
    <meta property="og:title" content="My Toy Time Machine" />
    <meta property="og:description" content="Go back in time to find the toys that changed your life" />
    <meta property="og:image" content="http://toytimemachine.us/images/sharenew.png" />
    <link href="css/sweetalert.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet">
    <link href="css/toybox.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/sweetalert.min.js"></script>
    <script src="js/toybox.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="logoContainer">
            <img src="images/logoToy.png" class="logo">
            <div class="created">Created by <img src="images/logo.svg"></div>
        </div>
    </div>

    <div class="midWrapper">
        <h3>Check out the most meaningful<br>toys of my childhood</h3>

        <div class="imggrid">
            <a href="/">
                <div class="imgbox" id="img1">
                </div>
            </a>
            <a href="/">
                <div class="imgbox" id="img2">
                </div>
            </a>
            <a href="/">
                <div class="imgbox" id="img3">
                </div>
            </a>
            <a href="/">
                <div class="imgbox" id="img4">
                </div>
            </a>
        </div>

        <a href="/" class="button"><img src="images/etmbutton.png"></a>
    </div>

    <!--<div class="textbox">
    <br>
        <h1>My Toy Collection</h1>
        <h3>These are the toys you played with.</h3>
    </div>
    <div class="imggrid">
        <a href="/">
            <div class="imgbox" id="img1">
            </div>
        </a>
        <a href="/">
            <div class="imgbox" id="img2">
            </div>
        </a>
        <a href="/">
            <div class="imgbox" id="img3">
            </div>
        </a>
        <a href="/">
            <div class="imgbox" id="img4">
            </div>
        </a>
    </div>
    <div class="footer">
        <a href="https://playpiper.com/?utm_source=toytimemachine" target="_blank"><h5>Created By </h5>
                <img src="images/logo.svg">
                </a>
    </div>-->
</body>

</html>
